/.gradle/
/buildSrc/.gradle/
**/build/


target/
.project
.classpath
.code-workspace
.settings/
.svn/
bin/
# Intellij
*.ipr
*.iml
.idea
out/
.DS_Store
/bootstrap
/dependencies.xml
.java-version
/.metadata/
#IReport
*.jasper
app/.factorypath
domain/.factorypath
ride/.factorypath
service/.factorypath
persistence/.factorypath
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
